@import "./main.scss";
.browseBy, .topReviewd {
    width: 80vw;
    height: 50vh;
    margin: 5vh auto;
    h2 {
        margin-left: 2%;
        
    }
    .imgsContainer {
        width: 100%;
        height: 78%;
        margin-top: 3%;
        @include flex(space-around, row);
        .type {
            height: 100%;
            width: 22%;
            position: relative;
            .lyer {
                position: absolute;
                z-index: 999;
                width: 100%;
                height: 80%;
                top: 0;
                left: 0;
                cursor: pointer;
                background-color: black;
                opacity: .4;
                transition: $transistion;
                &:hover {
                    opacity: 0;
                }
            }
            img {
                width: 100%;
                height: 80%;
                object-fit: cover;
            }
            h5 {
                color: silver;
            }
        }
    }
}